.specs {
    height: 200px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specs h2 {
    text-align: center;
    letter-spacing: 2px;
    color: #EEE;
    margin: 10px;
    background: linear-gradient(to right, #ff3366, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}