.heroBanner {
    min-height: calc(100vh - 80px);
    padding: 0 0 25px 0; 
}

.heroBanner-images {
    min-height: calc(100vh - 130px);
    width: 100%;
}

.heroBanner_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 370px;
    padding: 20px;
    width: 40%;
}

.heroBanner_content-image {
     margin-top: 150px;
}

#lottie-tv {
    height: 120vh;
    width: 90%;
}

.heroBanner_content-title {
    font-size: 40px;
    /* background: linear-gradient(to right, #fde371, #d49d35); */
    color: #EEEEEE;
    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.heroBanner_content-desc {
    line-height: 2;
}

.heroBanner_content-title, 
.heroBanner_content-desc {
    font-weight: 600;
    text-align: center;
    margin: 10px;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 1200px) {
    .heroBanner {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heroBanner_content {
        margin: 50px 0;
        min-width: 80%;
    }

    .heroBanner_content-title {
        font-size: 20px;
    }

    .heroBanner_content-image {
        margin-top: 0;
        width: 90%;
        height: auto;
    }

    #lottie-tv {
        height: auto;
    }
}