.heroBanner {
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}

.heroBanner_content {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 30px #0a0a3f ;
    background:-moz-radial-gradient(circle at 0% 0%, #0A0A3F 25%, #A62787 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 0% 0%, #0A0A3F 25%, #A62787 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 0% 0%, #0A0A3F 25%, #A62787 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 0% 0%, #0A0A3F 25%, #A62787 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 0% 0%, #0A0A3F 25%, #A62787 100%);
}

.heroBanner_content-title {
    font-size: 40px;
}

.heroBanner_content-desc {
    line-height: 2;
}

.heroBanner_content-title, 
.heroBanner_content-desc {
    width: 60%;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    letter-spacing: 1.5px;
}