.refund {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    gap: 25px;
    background-color: #F5F5F5;
    color: #333333;
    width: 80%;
    margin: 0 auto;
}

.refund_details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

@media screen and (max-width: 500px) {
    .refund {
        width: 100%;
        padding: 10px;
        line-height: 1.5;
        font-size: small;
    }
}