* {
    scroll-behavior: smooth;
}

.header {
    height: 90px;
    background-color: #e7e9eb;
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header_nav {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header_nav-items {
    font-weight: 600;
    letter-spacing: 2px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #5a5a5a;
    transition: transform 0.3s ease-in-out;
}

.header_menu-button {
    color: #EEE;
    /* background: linear-gradient(to right, #fde371, #d49d35); */
    background-color: royalblue;
    border-radius: 5px;
    padding: 8px 16px;
    border-style: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.header_menu-button:hover {
    transform: scale(1.2);
}

.header_menu-button p {
    font-weight: 1000;
    font-size: 14px;
    letter-spacing: 2px;
}

.header_nav-items:hover  {
    background-color: black;
    color: #e7e9eb;
    transform: scale(1.1);
}

.header_menu {
    display: none;
    position: relative;
}

.header_menu-links {
    background-color: #000000;
    position: absolute;
    top: 15;
    right: 6%;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media screen and (max-width: 800px) {
    .header_menu {
        display: block;
    }

    .header_nav {
        display: none;
    }

    .header_menu-button {
        display: none;
    }
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}