#features {
    background-color: white;
    color: black;
    padding: 25px 0 50px 0;
}

#features h1 {
    text-align: center;
    letter-spacing: 2px;
}

.features_container {
    height: auto;
    min-height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 5px;
}

.slide {
    transform: scale(0.5);
    transition: transform 0.3s;
    opacity: 0.5;
    margin: 20px auto;
}

.activeSlide {
    transform: scale(1.1);
    transition: transform 0.3s;
    opacity: 1;
}