.careers {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.careers_banner-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%;
    font-size: x-large;
    line-height: 1.5;
}

.careers_banner-anime {
    width: 50%;
}

.careers_positions {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.careers_positions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.careers_positions-card {
    max-width: 350px;
}

@media screen and (max-width: 900px) {
    .careers {
        flex-direction: column;
        height: auto;
        padding: 50px 0;
        gap: 20px;
    }

    .careers_banner-content {
        width: 80%;
    }

    .careers_banner-anime {
        width: 80%;
    }

    .careers_positions {
        padding: 50px 0;
    }

    .careers_positions-card {
        max-width: unset;
        width: 80%;
    }

}