.contactus {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 25px;
}

.contactus-address {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 950px) {

    .contactus {
        flex-direction: column-reverse;
    }

    .contactus-address {
        width: 100%;
    }
    
}